<!DOCTYPE html>
<html ng-app="myapp">
<head>
	<title>Hello page</title>
	<script src="libr/angular.min.js"></script>
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
	<link rel="stylesheet" type="text/css" href="libr/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="libr/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="maincss.css" />
	<script src="scripts/app.js"></script>
	<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAob-rm1fHA5MlS9Ilve-2Vg4oLQBqi1G8&libraries=places"></script> -->
	<!-- <script src="127.0.0.1:8080/weather/?callback=mycallback"></script> -->
	<!-- <script src="scripts/app_ctr.js"></script> -->
</head>
<body ng-app="myapp">
	<br><br>

	<div ng-controller="search">
		Input your City :<input onfocus="autof()" type="text" name="city" id="cityofbirth"  ng-model="data.city"/>
		{{data.city+" is your selected city"}}
		<ul class="submenu">
			<li class="submenu-item" onclick="one()" id="oneone">Submenu 1</li>
			<li class="submenu-item" onclick="two()" id="onetwo">Submenu 2</li>
			<li class="submenu-item" onclick="three()" id="onethree">Submenu 3</li>
		</ul>
	</div>

	<div ng-controller="search">
		Select the Date :<input type="date" name="dateofbirth" id="dateofbirth" ng-model="data.date">
		{{data.date + " is your selected date"}}

	</div><br><br>

	<div onclick="check()" ng-controller="search" id="search_btn">
		{{ "Search" }}
		
	</div><br><br>
	<div ng-controller="search" >
		<script type="text/javascript">
			var city_id=0;
			var resp;
	    	function autof()
	    	{
	    		var inp=document.getElementById("cityofbirth").value
	    		var butt = document.getElementsByClassName("submenu-item");
	    		var url2="http://dataservice.accuweather.com/locations/v1/cities/autocomplete?apikey=HFeOd1rS5rsEN1uBbTuYPRivmxxsC0II&q="+inp;
	    		var respp=httpGet2(url2);
	    		resp=JSON.parse(respp);
	    		console.log("I got "+resp[0]['LocalizedName']+" in return from the autofill.");
	    		var i;
				for (i = 0; i < resp.length; i++){
					// console.log("here");
					butt[i].innerHTML = resp[i]['LocalizedName']+", "+resp[i]['AdministrativeArea']['LocalizedName']+", "+resp[i]['Country']['LocalizedName'] ;
					if(i==2)
				  		break;
				}
	    	}
    		function httpGet2(theUrl2)
			{
			    var xmlHttp = new XMLHttpRequest();
			    xmlHttp.open( "GET", theUrl2, false );
			    xmlHttp.send( null );
			    return xmlHttp.responseText;

			}

	    </script>
	    <script type="text/javascript">
	    	function one() {
	    		document.getElementById("cityofbirth").value=document.getElementById("oneone").innerHTML
	    		city_id=1;
	    	}
	    	function two() {
	    		document.getElementById("cityofbirth").value=document.getElementById("onetwo").innerHTML
	    		city_id=2;
	    	}
	    	function three() {
	    		document.getElementById("cityofbirth").value=document.getElementById("onethree").innerHTML
	    		city_id=3;
	    	}
	    </script>
	    <script type="text/javascript">
	    	function check()
	    	{
	    		

	    		var one=document.getElementById("cityofbirth").value
	    		var two=document.getElementById("dateofbirth").value
	    		// console.log("I got "+one+" and "+two);
				if (!city_id) {
	    			alert("select a proper city");
	    			return;
	    		}
	    		if (one=="Banglore") {
	    			return alert("Unpredictible city.");
	    		}
	    		if(!two){
	    			alert("select a date");
	    			return;
	    		}
	    		var val={
	    			city: one,
	    			time: two
	    		};
	    		console.log("I got "+resp[city_id-1]['Key']+" and "+val.time);
	    		var url="http://localhost:8000/weather/?city="+resp[city_id-1]['Key']+"&day="+val.time;
	    		console.log("request sending");
	    		var val=httpGet(url);

				val.then(function(value) {
					console.log("I got "+value+" in return from the database.")
					// expected output: json
				});
	    		// respppp=JSON.parse()

	    		temp_min=val.temp_min;
	    		temp_max=val.temp_max;
	    		rain=val.rain;
	    	}
    		async function httpGet(theUrl)
			{
				// console.log("here lol");
			    var xmlHttp = new XMLHttpRequest();
			    xmlHttp.open( "GET", theUrl, true );
			    xmlHttp.send( null );
			    let promise1 = await xmlHttp.responseText;
			 //    promise1.then(function(value) {
				// 	console.log("I got "+value+" in return from the database.")
				// 	// expected output: json
			    	
				// });
			    return promise1;
			}

	    </script>
	</div>
	
	
	Temperature is  : <temp ng-controller="temp">{{ temp_val }}</temp><br>
	Rain probablity : <rain ng-controller="rain">{{ rain_val }}</rain><br>

</body>
</html>
